@{
    ViewData["Title"] = "Items";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="grid">
    @foreach (var item in Model)
    {<div class="grid-item">
         <div class="grid-item-content">
             
             <img class="grid-item-img" id="@item.ItemId.ToString()" src="@item.itemIcon_URL.ToString()" onerror="getLocalImg()" alt="@item.DeviceName.ToString()">
             <div class="grid-item-text">@item.DeviceName</div>
         </div>
        </div>
    }
</div>

