@{
    ViewData["Title"] = "Items";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="gallery">

    @foreach (var item in Model)
    {
        <div class="img-box">
            <img class="item-img" id="@item.ItemId.ToString()" src="@item.itemIcon_URL.ToString()" alt="@item.DeviceName.ToString()" data-toggle="tooltip" data-placement="top" title="@item.DeviceName.ToString()">
        </div>
    }
</div>
